<div class="view">
    <div class="formContainer">
        <form [formGroup] = "loginForm" (ngSubmit)="onLogin()">
            <div class="formHeader">
                <h1>Login</h1>
            </div>
            <div class="inputContainer">
                <label for="email">Email</label>
                <br>
                <input type="email" id="email" formControlName="email" placeholder="Enter your email address...">
                <div class="errorMsg">{{EmailVal()}}</div>
            </div>
            <div class="inputContainer">
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" formControlName="password" placeholder="***********">
                <div class="errorMsg"></div>
            </div>
            <div class="subBtnContainer">
                <button class="subBtn">Log In</button>
            </div>
        </form>
    </div>
</div>
